<div class="header">
  <h1>What brand cigarette are you?</h1>
    <div class="quote"> 
      <h2>"All rules had their exceptions, but the way I came to see things they generally went like this: Kools and Newports were for black people and lower-class whites. Camels were for procrastinators, those who wrote bad poetry, and those who put off writing bad poetry. Merits were for sex addicts, Salems for alcoholics, and Mores for people who considered themselves to be outrageous but really weren’t. One should never lend money to a Marlboro-menthol smoker, though you could usually count on a regular-Marlboro person to pay you back." - David Sedaris</h2>
    </div>
</div>
<form action="/results" method="POST">
  <p>What kind of music do you listen to?</p>
    <input type="radio" id="music" name="music_preference" value="camels"><%=@music[0]%> </input></br>
    <input type="radio" id="music" name="music_preference" value="non_smoker"><%=@music[1]%> </input></br>
    <input type="radio" id="music" name="music_preference" value="vogue"><%=@music[2]%> </input></br>
    <input type="radio" id="music" name="music_preference" value="american_spirit"><%=@music[3]%> </input></br>
    <input type="radio" id="music" name="music_preference" value="marlboro_red"><%=@music[4]%> </input></br>
    <input type="radio" id="music" name="music_preference" value="marlboro_light"><%=@music[5]%> </input></br>

  <p>Which book do you like?</p>
    <input type="radio" id="book" name="book_preference" value="camels"><%=@books[0]%> </input></br>
    <input type="radio" id="book" name="book_preference" value="non_smoker"><%=@books[1]%> </input></br>
    <input type="radio" id="book" name="book_preference" value="vogue"><%=@books[2]%> </input></br>
    <input type="radio" id="book" name="book_preference" value="american_spirit"><%=@books[3]%> </input></br>
    <input type="radio" id="book" name="book_preference" value="marlboro_red"><%=@books[4]%> </input></br>
    <input type="radio" id="book" name="book_preference" value="marlboro_light"><%=@books[5]%> </input></br>

  <p>What do you want to eat?</p>
    <input type="radio" id="food" name="food_preference" value="camels"><%=@food[0]%> </input></br>
    <input type="radio" id="food" name="food_preference" value="non_smoker"><%=@food[1]%> </input></br>
    <input type="radio" id="food" name="food_preference" value="vogue"><%=@food[2]%> </input></br>
    <input type="radio" id="food" name="food_preference" value="american_spirit"><%=@food[3]%> </input></br>
    <input type="radio" id="food" name="food_preference" value="marlboro_red"><%=@food[4]%> </input></br>
    <input type="radio" id="food" name="food_preference" value="marlboro_light"><%=@food[5]%> </input></br>

  <p>Where would you want to call home?<p>
    <input type="radio" id="home" name="hometown" value="camels"><%=@hometown[0]%> </input></br>
    <input type="radio" id="home" name="hometown" value="non-smoker"><%=@hometown[1]%> </input></br>
    <input type="radio" id="home" name="hometown" value="vogue"><%=@hometown[2]%> </input></br>
    <input type="radio" id="home" name="hometown" value="american_spirit"><%=@hometown[3]%> </input></br>
    <input type="radio" id="home" name="hometown" value="marloboro_red"><%=@hometown[4]%> </input></br>
    <input type="radio" id="home" name="hometown" value="marlboro_light"><%=@hometown[5]%> </input></br>

  <p>What do you want to do for a vacation?<p>
    <input type="radio" id="travel" name="travel_style" value="camels"><%=@travel_style[0]%> </input></br>
    <input type="radio" id="travel" name="travel_style" value="non_smoker"><%=@travel_style[1]%> </input></br>
    <input type="radio" id="travel" name="travel_style" value="vogue"><%=@travel_style[2]%> </input></br>
    <input type="radio" id="travel" name="travel_style" value="american_spirit"><%=@travel_style[3]%> </input></br>
    <input type="radio" id="travel" name="travel_style" value="marlboro_red"><%=@travel_style[4]%> </input></br>
    <input type="radio" id="travel" name="travel_style" value="marlboro_light"><%=@travel_style[5]%> </input></br>

  <p>What's your poison?</p>
    <input type="radio" id="drink" name="drink" value="camels"><%=@drink[0]%> </input></br>
    <input type="radio" id="drink" name="drink" value="non_smoker"><%=@drink[1]%> </input></br>
    <input type="radio" id="drink" name="drink" value="vogue"><%=@drink[2]%> </input></br>
    <input type="radio" id="drink" name="drink" value="american_spirit"><%=@drink[3]%> </input></br>
    <input type="radio" id="drink" name="drink" value="marlboro_red"><%=@drink[4]%> </input></br>
    <input type="radio" id="drink" name="drink" value="marlboro_light"><%=@drink[5]%> </input></br>

  <p>What do you drink when you wake up?</br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="camels"><%=@breakfast_drink[0]%> </input></br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="non_smoker"><%=@breakfast_drink[1]%> </input></br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="vogue"><%=@breakfast_drink[2]%> </input></br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="american_spirit"><%=@breakfast_drink[3]%> </input></br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="marlboro_red"><%=@breakfast_drink[4]%> </input></br>
    <input type="radio" id="breakfast_drink" name="b_drink" value="marlboro_light"><%=@breakfast_drink[5]%> </input></br>







   <button class = "space" type="submit" value="next">Let's get some cancer!</button>
 
</form>

